body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app{
    background-image: linear-gradient(to right, rgb(248, 113, 133), rgb(244, 114, 182));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.card{
    width: 56rem;
    height: 30rem;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 0.5rem;
    display: flex;
    color: aliceblue;
    overflow: hidden;
}
